@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
:root {
  --primary-font: 'Quicksand', serif;
  --secondary-font: 'Raleway', serif;
  --black: #111111;
  --orange: #fea301;
  --sky-blue: #01acfd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Shared Styles */
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
/* Navbar Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.navbar .navbar-logo {
  align-items: center;
  display: flex;
}
.navbar .navbar-logo img {
  width: 52px;
}
.navbar .navbar-logo span {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  margin-left: 10px;
}
.navbar .navbar-menu-link ul {
  display: flex;
  gap: 32px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.25rem;
}
.navbar .navbar-menu-link ul li:nth-child(1) a {
  color: var(--orange);
}
.navbar .navbar-menu-link ul li:nth-child(2) a {
  color: var(--sky-blue);
}
.navbar .navbar-menu-link ul li:nth-child(3) a {
  color: #05d4df;
}
.navbar .navbar-menu-link ul li:nth-child(4) a {
  color: #5d58ef;
}
.navbar .navbar-button a {
  padding: 10px 50px;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: var(--orange);
  border-radius: 12px;
}
.navbar .navbar-menu-bar {
  display: none;
}
/* Hero Styles */
.hero {
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-content {
  max-width: 640px;
}
.hero .hero-content h1 {
  font-family: var(--primary-font);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero .hero-content h1 span:first-child {
  color: var(--orange);
  display: block;
}
.hero .hero-content h1 span:last-child {
  color: var(--sky-blue);
}
.hero .hero-content p {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--black);
  margin-bottom: 20px;
}
.hero .hero-content a {
  padding: 10px 40px;
  background-color: var(--black);
  color: white;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 12px;
  display: inline-block;
}
.hero .hero-image img {
  vertical-align: middle;
  width: 100%;
}
/* Standard Curriculum Styles */
.standard-curriculum {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.curriculum-section h2 {
  padding: 60px 0 80px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2.875rem;
  color: #000;
  text-align: center;
}
.curriculum-cards {
  gap: 28px;
}
.curriculum-cards .curriculum-card {
  padding: 50px 40px;
  box-shadow: 0px 0px 28.3px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  text-align: center;
}
.curriculum-cards .curriculum-card h3 {
  margin: 32px 0;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1.5rem;
  color: #202020;
}
.curriculum-cards .curriculum-card p {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 0.938rem;
  color: #808080;
  margin-bottom: 32px;
}
.curriculum-cards .curriculum-card a {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 0.938rem;
}
.curriculum-cards .curriculum-card-1 {
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  a {
    color: #64c8ff;
  }
}
.curriculum-cards .curriculum-card-2 {
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  a {
    color: #f0aa00;
  }
}
.curriculum-cards .curriculum-card-3 {
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  a {
    color: #8700ff;
  }
}
.curriculum-section .arrow-icons {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 80px 0 60px;
}
.curriculum-section .arrow-icons i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: var(--orange);
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/* Our Stories */
.our-stories {
  background: url(../images/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}
.our-stories-section h2 {
  padding: 60px 0 80px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2.875rem;
  color: #000;
  text-align: center;
}
.our-stories-cards {
  display: flex;
  gap: 18px;
  padding: 0 0 80px;
}
.our-stories-cards .our-stories-card-1 {
  background-color: white;
  border-radius: 16px;
}
.our-stories-cards .our-stories-card-1 img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  vertical-align: middle;
}
.our-stories-card-1 .our-stories-card-info {
  padding: 58px 38px 34px;
  position: relative;
}
.date-button-1 {
  position: absolute;
  background-color: #3cd8e8;
  font-family: var(--secondary-font);
  font-size: 0.938rem;
  font-weight: 500;
  color: #fff;
  padding: 15px 18px;
  border-radius: 47px;
  top: -25px;
  left: 38px;
}
.our-stories-card-info h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 50px;
}
.our-stories-card-info p {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 0.938rem;
  color: #666666;
}
.story-gallery {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 18px;
}
.our-stories-card img {
  vertical-align: middle;
  width: 291px;
  height: 177px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.our-stories-card {
  background-color: white;
  border-radius: 16px;
}
.our-stories-card .card-info {
  padding: 38px 38px 28px;
  position: relative;
}
.date-button {
  position: absolute;
  padding: 10px 18px;
  background-color: #95b226;
  border-radius: 47px;
  top: -19px;
  left: 38px;
  font-family: var(--secondary-font);
  font-size: 0.938rem;
  font-weight: 500;
  color: #fff;
}
.date-button-color-2 {
  background-color: #5d58f0;
}
.our-stories-card .card-info h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 0.938rem;
  color: #000;
}
.our-stories-section {
  text-align: center;
}
.our-stories-section > a {
  padding: 10px 61px;
  background-color: var(--black);
  border-radius: 12px;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  display: inline-block;
  margin-bottom: 60px;
}
/* Footer Section Styles */
footer {
  background-color: #01acfd;
}
.footer-section {
  padding: 123px 88px 173px 0;
  justify-content: space-between;
  color: #fff;
}
.footer-content-1 img {
  width: 70px;
  height: 80px;
}
.footer-content-1 span {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2.625rem;
  width: 200px;
  display: inline-block;
  margin-left: 10px;
}
.footer-content-1 p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.25rem;
  max-width: 400px;
  margin-top: 35px;
}
.footer-content-2 h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 32px;
}
.footer-content-2 ul {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.footer-content-2 ul li a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.25rem;
  color: #fff;
}
.footer-content-3 h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1.625rem;
  margin-bottom: 32px;
}
.footer-content-3 a {
  color: #fff;
  font-size: 1.25rem;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.footer-content-3 a:nth-of-type(1) i {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #3b5998;
  text-align: center;
  line-height: 40px;
}
.footer-content-3 a:nth-of-type(2) i {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #ea4c89;
  text-align: center;
  line-height: 40px;
}
.footer-content-3 a:nth-of-type(3) i {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #1da1f2;
  text-align: center;
  line-height: 40px;
}
.footer-content-3 a:nth-of-type(4) i {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #dd4b39;
  text-align: center;
  line-height: 40px;
}
/* Small Device */
@media screen and (max-width: 576px) {
  /* Navbar Responsive */
  .navbar {
    margin-top: 0;
    padding: 12px 16px;
    border: 1px solid #fea301;
  }
  .navbar .navbar-logo span {
    display: none;
  }
  .navbar .navbar-menu-link {
    display: none;
  }
  .navbar .navbar-button {
    display: none;
  }
  .navbar .navbar-menu-bar {
    display: block;
  }
  .navbar .navbar-menu-bar i {
    font-size: 1.5rem;
    color: var(--black);
  }
  /* Hero Responsive */
  .hero {
    flex-wrap: wrap;
    padding: 0 6px;
  }
  .hero .hero-content {
    order: 1;
    text-align: center;
  }
  .hero .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 18px;
  }
  .hero .hero-content p {
    font-size: 0.875rem;
    margin-bottom: 18px;
  }
  .hero .hero-content a {
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 1rem;
  }
  .hero .hero-image {
    order: 0;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  /* Standard Curriculum Responsive */
  .curriculum-section h2 {
    font-size: 1.625rem;
    margin: 40px 0 20px;
  }
  .curriculum-cards {
    flex-wrap: wrap;
    padding: 0 16px;
  }
  .curriculum-section .arrow-icons {
    display: none;
  }
  /* Our Stories Responsive */
  .our-stories-section h2 {
    font-size: 1.625rem;
    padding: 60px 0 20px;
  }
  .our-stories-section > a {
    padding: 10px 37px;
    font-size: 1rem;
    margin-bottom: 40px;
  }
  .our-stories-card-1 {
    display: none;
  }
  .story-gallery {
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    padding: 0 16px;
  }
  .our-stories-card .card-info {
    padding: 25px 22px 19px;
  }
  .date-button {
    padding: 5px 10px;
    font-size: 0.563rem;
    top: -11px;
    left: 22px;
  }
  .our-stories-card .card-info h3 {
    font-size: 0.563rem;
  }
  .our-stories-card img {
    width: 100%;
    object-fit: cover;
    height: 105px;
  }
  .our-stories-cards {
    padding: 0 0 20px;
  }
}
/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .our-stories-card-1 {
    display: none;
  }
  .our-stories-card img {
    width: 100%;
  }
  .story-gallery {
    padding: 0 16px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  /* Navbar Responsive */
  .navbar {
    padding: 0 16px;
  }
  .navbar .navbar-menu-link ul {
    gap: 20px;
  }
  .navbar .navbar-button {
    display: none;
  }
  /* Hero Responsive */
  .hero {
    padding: 0 16px;
  }
  .hero .hero-content {
    width: 50%;
  }
  .hero .hero-image {
    width: 50%;
  }
  .hero .hero-image img {
    width: 90%;
    display: flex;
  }
  /* Standard Curriculum Responsive */
  .curriculum-cards {
    gap: 15px;
    padding: 0 16px;
  }
  .curriculum-section .arrow-icons {
    margin: 60px 0 40px;
  }
  /* Our Stories */
  .our-stories-cards {
    padding: 0 16px;
  }
}
