@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
:root {
  --primary-font: 'Quicksand', serif;
  --secondary-font: 'Raleway', serif;
  --black: #111111;
  --orange: #fea301;
  --sky-blue: #01acfd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Shared Styles */
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
/* Navbar Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.navbar .navbar-logo {
  align-items: center;
  display: flex;
}
.navbar .navbar-logo img {
  width: 52px;
}
.navbar .navbar-logo span {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  margin-left: 10px;
}
.navbar .navbar-menu-link ul {
  display: flex;
  gap: 32px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.25rem;
}
.navbar .navbar-menu-link ul li:nth-child(1) a {
  color: var(--orange);
}
.navbar .navbar-menu-link ul li:nth-child(2) a {
  color: var(--sky-blue);
}
.navbar .navbar-menu-link ul li:nth-child(3) a {
  color: #05d4df;
}
.navbar .navbar-menu-link ul li:nth-child(4) a {
  color: #5d58ef;
}
.navbar .navbar-button a {
  padding: 10px 50px;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: var(--orange);
  border-radius: 12px;
}
.navbar .navbar-menu-bar {
  display: none;
}
/* Hero Styles */
.hero {
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-content {
  width: 640px;
}
.hero .hero-content h1 {
  font-family: var(--primary-font);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero .hero-content h1 span:first-child {
  color: var(--orange);
  display: block;
}
.hero .hero-content h1 span:last-child {
  color: var(--sky-blue);
}
.hero .hero-content p {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--black);
  margin-bottom: 20px;
}
.hero .hero-content a {
  padding: 10px 40px;
  background-color: var(--black);
  color: white;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 12px;
  display: inline-block;
}
.hero .hero-image img {
  vertical-align: middle;
  width: 100%;
}
/* Small Device */
@media screen and (max-width: 576px) {
  .navbar {
    margin-top: 0;
    padding: 12px 16px;
    border: 1px solid #fea301;
  }
  .navbar .navbar-logo span {
    display: none;
  }
  .navbar .navbar-menu-link {
    display: none;
  }
  .navbar .navbar-button {
    display: none;
  }
  .navbar .navbar-menu-bar {
    display: block;
  }
  .navbar .navbar-menu-bar i {
    font-size: 1.5rem;
    color: var(--black);
  }
}
/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .navbar {
    padding: 0 16px;
  }
  .navbar .navbar-menu-link ul {
    gap: 20px;
  }
}
